{% extends 'base.html' %}

{% block title %}{{ current_user }}{% endblock title %}

{% block side_navbar %}
{% endblock side_navbar %}

{% block content %}
<div class="p-4 container">
    <div class="container border rounded shadow-sm p-4 bg-white" style="max-width: 50%;">
        <div class="mb-4">
            <h3>Edit Profile</h3>
        </div>
        <form method="post" action="{{ url_for('auth.edit_profile') }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email" value="{{ current_user.email }}">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" name="username" aria-describedby="username" value="{{ current_user.username }}">
            </div>
            <div class="mb-3">
                <label for="profile_pic" class="form-label">Profile photo</label>
                <div class="d-flex justify-content-center align-items-center mb-3"> 
                    <img src="{{ url_for('static', filename=current_user.profile_pic) }}" height="200px" width="300px" style=" border-radius: 50%;" id="profile_pic">
                </div>
                <label for="chane_profile_pic" class="form-label">Change profile Photo</label>
                <input type="file" class="form-control" name="profile_pic" value="{{ current_user.profile_pic }}" id="profile_pic_input" onchange="change_profile_pic(event)">
            </div>
            <div class="mb-3 flex-container">
                <button type="submit" class="btn btn-primary">Edit profile</button>
                <a class="btn btn-danger mx-4" href="url_for('auth.delete_profile')">Delete profile</a>
            </div>
        </form>
    </div>
</div>
<script>
    function change_profile_pic(event) {
        // Get profile pic img element
        profile_pic = document.getElementById('profile_pic')
        // Get uploaded profile pic
        profile_pic_input = document.getElementById('profile_pic_input')

        // Check if a file has been uploaded
        if (profile_pic_input.files.length > 0) {
            // Change profile pic image
            profile_pic.src = URL.createObjectURL(profile_pic_input.files[0]);
        }

    }
</script>
{% endblock content %}

{% block extra_column %}
{% endblock extra_column %}