{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
<div class="container">
    <!-- User information-->
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="User profile photo" class="img-thumbnail">
                {% if current_user.id == user.id %}
                    <form enctype="multipart/form-data" action="{{ url_for('auth.set_profile_pic') }}" method="post">
                        <input type="file" class="form-control" id="profile_pic" name="profile_pic">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            </div>
            <div class="col">
                <div class="row">
                    <h3>{{ user.username }} Followers = {{ user.get_followers() }}</h3>
                    <a class="btn btn-primary" href="{{ url_for('auth.follow', username=user.username) }}">Follow</a>
                </div>
            </div>
        </div>
    </div>

    <!-- User activities -->
    <div class="container">
        <div class="row">
            <h3>My Posts</h3>
            {% for post in posts %}
                <div class="card">
                    <div class="card-header">
                    <span class="font-weight-bold">{{ post.title }}</span> &middot;
                    <span class="text-muted">by {{ post.get_author.username }} |
                    {{ post.date }}</span>
                    </div>
                    <div class="card-body">
                        {{ post.body }}
                    </div>
                    <div class="card-footer text-center text-muted">
                        <a href="">Delete</a>
                    </div>
                </div>
                <br />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}