{% extends 'base.html' %}

{% block title %}New post{% endblock title %}

{% block side_navbar %}
{% endblock side_navbar %}

{% block content %}
<div class="p-4 container">
    <div class="container border rounded shadow-sm p-4 bg-white" style="max-width: 50%;">
        <div class="mb-4">
            <h3>New Post</h3>
            {% if topic %}
            <span class="text-muted">Topic: {{ topic }}</span>
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" id="title" name="title" aria-describedby="title" required>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea class="form-control" id="body" name="body" required></textarea>
            </div>
            {% if not new and not responded_post %}
                <div class="mb-3" id="filesContainer">
                    <label for="files" class="form-label">Photos/Videos</label>
                    <input class="form-control" type="file" id="files" name="files" onchange="addFileInput(this)" accept="image/*,video/*">
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock script %}