{% extends 'base.html' %}

{% block title %}News{% endblock title %}

{% from 'macros.html' import users_pagination_widget, users_widget, posts_widget, flashed_messages %}

{% block side_navbar %}
{% endblock side_navbar %}

{% block content %}
<div class="container flex-container w-75 p-4">
    <div class="container">
        {{ flashed_messages() }}
        {% for new in posts %}
            {% if new.title != '[Removed]' %}
                <div class="card">
                    <div class="card-header">
                            Posted by {{ new.author }}
                            <span class="text-muted">  | {{ moment(new.publishedAt).fromNow() }}</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                        <div class="row">
                            {% if new.description %}
                                <p class="card-body-text">{{ new.description }}</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if new.urlToImage %}
                                <div class="d-flex align-items-center justify-content-center" style="max-height: 400px;" >
                                    <img class="img-fluid" src="{{ new.urlToImage }}" style="max-height: 400px; object-fit: contain;">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="mb-2">
                            {% if new.urlToImage %}
                                <a class="text-decoration-none mx-4" style="color: black;" href="{{ url_for('blogs.new_post', new='True', title=new.title, author=new.author, content=new.description, date=new.publishedAt, url=new.url, image=new.urlToImage) }}"><i class="fa-regular fa-newspaper"></i> Make a post about this</a>
                            {% else %}
                                <a class="text-decoration-none mx-4" style="color: black;" href="{{ url_for('blogs.new_post', new='True', title=new.title, author=new.author, content=new.description, date=new.publishedAt, url=new.url) }}"><i class="fa-regular fa-newspaper"></i> Make a post about this</a>
                            {% endif %}
                            <a class="text-decoration-none mx-4" style="color: black;" href="{{ url_for('main.search_post', q=new.title) }}"><i class="fa-regular fa-newspaper"></i> See posts about this</a>
                            <a class="text-decoration-none mx-4" style="color: black;" href="{{ new.url }}" target="_blank"><i class="fa-solid fa-link"></i> Go to source</a>
                        </div>
                    </div>
                </div>
                <br />
                {% endif %}
        {% endfor %}
        <div class="d-flex justify-content-center align-items-center">
            {% if previous %}
                <a href="{{ url_for(request.endpoint, news_page = news_page - 1) }}">Previous Page</a>
            {% endif %}
            {% if next %}
                {% if q %}
                    <a href="{{ url_for(request.endpoint, news_page  = news_page + 1, q = q) }}" class="mx-4">Next Page</a>
                {% else %}
                    <a href="{{ url_for(request.endpoint, news_page  = news_page + 1) }}" class="mx-4">Next Page</a>
                {% endif %}
            {% endif %}
        </div>
    </div> 
    <div>   
        <div class="card mb-4" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text">News blogs here!</p>
                <a href="{{ url_for('blogs.new_post') }}" class="btn btn-primary mb-2">Create New Post</a>
                <div class="dropdown mb-2">
                    <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Search User
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="container bg-white rounded p-4">
                                <form action="{{ url_for('main.search_user') }}">
                                    <label for="username" class="form-label">Username</label>
                                    <input id="username" class="form-control mb-2" name="q">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" action="{{ url_for('blogs.search_news') }}">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search News" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

        {{ users_widget(users, users_pagination, current_user) }}

        {% if other_posts %}
            {{ posts_widget(other_posts) }}
        {% endif %}

    </div>
</div>
{% endblock content %}