{% extends 'base.html' %}
{% from "macros.html" import render_carousel, render_profile_pic, render_post_video, render_post_image, render_post_likes, render_comment_likes %}

{% block title %}{{ post.title }}{% endblock title %}

{% block side_navbar %}
{% endblock side_navbar %}

{% block content %}
<div class="p-4 container">
    <!-- Container -->
    <div class="container rounded shadow-sm bg-white" style="height: 600px;">
        {% set author = post.user %}
        <div class="row">
            <!-- Left column -->
            <div class="col-md-6 d-flex justify-content-center align-items-center border">
                <div style="height: 400px;">
                    {% set id = 'postImages' %}
                    {% if post.files|length == 1 %}
                        {% set file = post.files[0] %}
                        {% if file.type == 'image' %}
                            {{ render_post_image(file.path) }}
                        {% elif file.type == 'video' %}
                            {{ render_post_video(file) }}
                        {% endif %}
                    {% else %}
                        {{ render_carousel(post, id) }}
                    {% endif %}
                </div>
            </div>
            <!-- Right column -->
            <div class="col-md-6 border p-4">
                <!-- Header -->
                <div class="row" style="overflow-y: auto; height: 139.4px; overflow-wrap: break-word;">
                    <div class="mb-2">
                        <a href="{{ url_for('auth.profile', username=author) }}" class="text-decoration-none mb-2">
                            <img src="{{ url_for('static', filename=author.profile_pic) }}" class="profile_pic" style="height: 50px; width: 50px;">
                            <span class="card-title"><b> {{ author }}</b></span>
                            <span class="m-lg-2">
                            | {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}
                            </span>
                        </a>
                       {{ render_post_likes(current_user, post) }}
                    </div>
                    <div class="mb-2">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p>{{ post.body }} | <span class="text-muted">{{ post.likes|length }} likes, {{ post.comments|length }} comments</span></p>
                    </div>
                </div>
                <hr>
                <!-- Comments -->
                <div class="row" style="padding-right: 1.5rem; padding-left: 1.5rem; overflow: auto; height: 378px;">
                    <div class="row border rounded p-2 mb-2">
                        <form method="post" action="{{ url_for('blogs.comment', post_id=post.id) }}">
                            <div class="mb-3">
                                <label for="body" class="form-label">
                                    Comment as 
                                    <a href="{{ url_for('auth.profile', username=current_user) }}">
                                        {{ current_user }}
                                    </a>
                                </label>
                                <textarea class="form-control" id="body" name="body" placeholder="What are your thoughts?" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                   </div>
                    {% for comment in post.comments|sort(attribute='date', reverse=true) %}
                       {% set author = comment.user %}
                       <div class="row border rounded p-2 mb-2">
                            <!-- Upper row -->
                            <div class="row">
                                <a href="{{ url_for('auth.profile', username=author) }}" class="text-decoration-none mb-2">
                                    <img src="{{ url_for('static', filename=author.profile_pic) }}" class="profile_pic" style="height: 50px; width: 50px;">
                                    <span class="card-title"><b>{{ author }}</b></span>
                                    <span class="m-lg-2">
                                        | {{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}
                                    </span>
                                </a>
                                <hr>
                            </div>
                            <!-- Comment -->
                            <div class="row">
                                <p class="card-body">
                                    {{ comment.body }}
                                </p>
                            </div>
                            <!-- Buttons -->
                            <div class="row">
                                {% set id = 'comment' ~ loop_index ~ 'Likes' %}
                                <div>
                                    {{ render_comment_likes(current_user, comment) }}
                                    <a href="{{ url_for('blogs.reply_comment', comment_id=comment.id) }}">Reply</a>
                                    <p><span id="{{ id }}">{{ comment.likes|length }} likes</span><br/>{{ comment.comments|length }} comments</p>
                                </a>
                                {% if current_user.id == post.author %} 
                                    <a class="text-decoration-none mx-4" style="color: black;" href="{{ url_for('blogs.delete_comment', comment_id=comment.id) }}"><i class="fa-regular fa-trash-can"></i> Delete  </a>
                                {% endif %}
                            </div>
                       </div>
                       <br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_column %}

{% endblock extra_column %}