{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="p-4">
    <div class="container border rounded shadow-sm p-4 bg-white" style="max-width: 50%;">
        <div class="mb-4">
            <h3>{{ post.title }}</h3>
        </div>
        <div>
            <div class="mb-3">
                <p for="title" class="form-label">Posted by <a href="{{ url_for('auth.profile', username=post.get_author.username )}}">{{ post.get_author().username }}</a></p>
            </div>
            <div class="mb-3">
                <p>{{ post.body }}</p>
            </div>
        </div>
        <div>
            <a href="{{ url_for('blogs.comment', post_id=post.id) }}">Comment </a>
            {% for comment in post.comments %}
            <div class="mb-3">
                <p for="title" class="form-label">By 
                    <a href="{{ url_for('auth.profile', username=post.get_author.username )}}">
                        {{ comment.get_author().username }}
                    </a>
                     at {{ comment.date }}
                </p>
                <p>{{ comment.body }}</p>
                {% if current_user.id == comment.user_id %}
                <a href="{{ url_for('blogs.delete_comment', comment_id=comment.id) }}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}